
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Userview</h1>

  <!-- Search Box [done]-->
  <div class="row" id="home-searchbox">
    <div class="col-lg-8 col-md-offset-2">
      <div class="input-group">
        <%= text_field_tag 'text', nil, placeholder: @search_box_placeholder_text, class: "form-control input-lg"%>
        <span class="input-group-btn">
          <button class="btn btn-success btn-lg" type="button" style="height:46px;">Go</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-8 -->
    <div class="col-lg-2"></div>
  </div>

  <!-- Hot words [done]-->
  <p class="row" id="home-hotwords">
    <% @hotword_list_array.each_with_index do |word,index| %>
      <%= "|" if index!=0%>
<!--       <a href="/sitewatch?q="> <%= word %></a> -->
      <%= link_to word, posts_path+"?q="+word.to_s+"&o=Latest" %>
    <% end %>
  </p>
  
  <!-- Example row of columns [done]-->
  <div class="row" id="home-status">
    <div class="col-lg-1"></div>    

    <div class="col-lg-4" id="home-collectlist">
      <h2>Collecting</h2>
      <table class="table table-hover">
        <tbody>
          <% @collecting_table_array.each do |key,value| %>
          <tr><td><%= key %></td><td><%= value %></td></tr>   
          <% end %>
        </tbody>
      </table>
      <p><%= link_to "Request Keyword »", about_path, :class=>"btn btn-primary", :role=>"button" %></p> 
    </div>
    
    <div class="col-lg-2"></div>   

    <div class="col-lg-4" id="home-finishlist">
      <h2>Finished</h2>
      <table class="table table-hover">
        <tbody>
          <% @finished_table_array.each do |key,value| %>
          <tr><td><%= key %></td><td><%= value %></td></tr>   
          <% end %>    
        </tbody>
      </table>
      <p><%= link_to "View More »", status_path, :class=>"btn btn-primary", :role=>"button" %></p> 
    </div>

    <div class="col-lg-1"></div>    
  </div>

</div>




