/report view
.row#report-view
  .col-lg-12
    #header
      .header-bot#header-bot
        .title#title
          %h1 Report
        .search#search

  .col-lg-12#report-content
    .col-lg-9#left-panel
      /summary
      .panel.panel-default#summary-panel
        .panel-heading
          %h4 Summary
        .panel-body#summary-content
          %textarea.form-control{:rows=>"3",:placeholder=>"Input summary on the top..."}
            = cookies[:result]

      /highlight
      .panel.panel-default#highlight-panel
        .panel-heading
          %h4 Highlight
        .panel-body#hightlight-content
          %table.table.table-hover
            %thead 
              %tr 
                %th{:style=>"width:5%;"} #
                %th Comment
                %th{:style=>"width:5%;"} Weibo
                %th{:style=>"width:5%;"} Radar
                %th{:style=>"width:5%;"} Edit
            %tbody
              - if !@highlights_list.nil?
                - @highlights_list.each_with_index do |highlight,index|
                  %tr
                    %td 
                      = (index + 1).to_s
                    %td
                      %p 
                        = highlight[:comment]
                    %td 
                      - highlight[:url].each_with_index do |post_url,index|
                        %a.btn.btn-default.btn-xs{:href => "#{post_url}", :target=>"_blank",:type=>"button"} 
                          = "#" + highlight[:id]
                    %td
                      - highlight[:radar].each do |radar_number|
                        - if radar_number==""
                          = "n/a"
                        - else
                          %a.btn.btn-default.btn-xs{:href => "rdar://problem/#{radar_number}",:type=>"button"} 
                            = "#" + radar_number
                    %td
                      %a{:href => "#"} 
                        %span.glyphicon.glyphicon-pencil
          - if !@highlights_list.nil?
            %button.btn.btn-danger.btn-sm.pull-right#clear-cookie-btn{:type=>"button",:style=>"margin-top:10px;"} Clear All Above
      
      /charts
      .panel.panel-default#charts-panel
        .panel-heading
          %h4 Chart
        .panel-body#charts-content
          %table.table.table-hover
            %thead 
              %tr 
                %th Keyword
                %th.row{:style=>"width:80%;"}
                  %label.pull-left{:style=>"margin-bottom:0px;"} Attitude
                  .progress.pull-left{:style=>"width:32%; margin-bottom:0px; margin-left:15px;"}
                    .progress-bar.progress-bar-success{:style=>"width:33%"}
                      %span.sr-only 33%
                      %p Positive
                    .progress-bar.progress-bar-info{:style=>"width:33%"}
                      %span.sr-only 33%
                      %p Neutral
                    .progress-bar.progress-bar-danger{:style=>"width:34%"}
                      %span.sr-only 33%
                      %p Negative
                %th Total
            %tbody
              -if !@chart_list.nil?
                - @chart_list.each do |key,value|
                  %tr 
                    %td
                      = key
                    %td
                      .progress{:style=>"width:#{value[0]}"}
                        .progress-bar.progress-bar-success{:style=>"width:#{value[1]}"}
                          %span.sr-only
                            = value[1]
                          %p
                            = value[1]
                        .progress-bar.progress-bar-info{:style=>"width:#{value[2]}"}
                          %span.sr-only
                            = value[2]
                          %p
                            = value[2]
                        .progress-bar.progress-bar-danger{:style=>"width:#{value[3]}"}
                          %span.sr-only
                            = value[3]
                          %p
                            = value[3]
                    %td
                      = value[4]
      
      /keyword
      .panel.panel-default#keyword-panel
        .panel-heading
          %h4 Keyword Combo
        .panel-body#keyword-content
          %table.table.table-hover
            %thead 
              %tr 
                %th Project
                %th Keyword
            %tbody
              -if !@keyword_list.nil?
                - @keyword_list.each do |project,keyword|
                  %tr 
                    %td 
                      = project
                    %td 
                      = keyword

    .col-lg-3
      /To
      .panel.panel-default#to-panel
        .panel-heading
          %h4 To
        .panel-body#to-content
          %input.form-control{:type => "text",:placeholder=>"Your Email address..."}
          %button.btn.btn-primary.btn-sm.pull-right{:type=>"button",:style=>"margin-top:10px;"}Send Report &raquo;
      /Attach
      .panel.panel-default#attach-panel
        .panel-heading
          %h4 Attach
        .panel-body#attach-content
          %p 
            File #1: 
            %a{:href => "#"} Raw_data.zip
          %p 
            File #2: 
            %a{:href => "#"} Export_Report.pdf
  / .col-lg-4
  /   /Editor
  /   .panel.panel-default#editor-panel
  /     .panel-heading#header
  /       .header-bot#header-bot
  /         .title#title
  /           %h1 Editor
  /         .search#search
  /     .panel-body#editor-content
  /       %h4 Reports Code
  /       %textarea.form-control{:rows=>"30"}
  /         %p require 'xmlrpc/client' 
  /         %p client = XMLRPC::Client.new2('https://reports.sd.apple.com') 
  /         %p report_key = client.call('reports.create', 'astephan@apple.com', 'my report', 'content') 
  /         %p client.call('reports.email', report_key, 'astephan@apple.com', 'my draft notes')
  /       %button.btn.btn-primary.btn-sm.pull-right{:type=>"button",:style=>"margin-top:10px;"}Send to Reports &raquo;
  


