/ page navigation
%ul.pagination.threadpager
  %li.lft
  %li.rt
    %ul.controls
      %li.first
        %a.first{:href=>"#{@first_url}"} &lt;&lt;

      %li.prev
        %a.prev{:href=>"#{@prev_url}"} &lt;

      %li.pages
        -@nav_url_list.each do |url,text,is_span|
          -if is_span == true
            %span
              = text
          -else
            %a{:href=>"#{url}"}
              = text

      %li.next
        %a{:href=>"#{@next_url}"} &gt;

      %li.last
        %a{:href=>"#{@last_url}"}&gt;&gt;