/ /searchbox
/ .input-group.col-lg-4#sitewatch-searchbox
/   %input.form-control.input-md{:type=>"text",:placeholder=>"Apple"}
/   %span.input-group-btn
/     %button.btn.btn-success.btn-md#sitewatch-searchbtn{:type=>"button"} Go

/sitewatch view
.row#sitewatch-view
  / sitewatch header
  .col-lg-12#header
    .header-bot#header-bot
      .title#title
        %h1 Sitewatch
      .search#search

  / big frame with breadcrumb
  .col-lg-12#container
    .jive-body
      /searchbox
      .input-group.col-lg-4#sitewatch-searchbox
        %input.form-control.input-md{:type=>"text",:placeholder=>"Apple"}
        %span.input-group-btn
          %button.btn.btn-success.btn-md#sitewatch-searchbtn{:type=>"button"} Go
      .box
        / breadbrumb
        #guide
          #guide_pad
            #guide_wrap
              %ol#breadcrumb
                %li#bc-home
                  %strong
                    %a{:href=>"#"} Sitewatch
                %li.active
                  %strong
                    %a{:href=>"#"} Userview
                / %li.active
                /   %strong
                /     %a{:href=>"#"} Microblogs in Yunyun
        / content box
        #boxcap
          #box-in
            #box-in-1
              #jive-body
                / keywords
                #jive-body-intro
                  .jive-body-intro-community.jive-body-intro-content-page#jive-body-intro-content
                    .row#addfilterrow
                      %strong#addfilter.pull-left Add Filter:
                      .btn-group.pull-left
                        %a{:class => 'btn btn-default btn-sm dropdown-toggle', "data-toggle" => 'dropdown', :type=>"button", :href => '#'}
                          Condition
                          %span{:class => 'caret'}
                        %ul{:class => 'dropdown-menu',:role=>"menu"}
                          %li 
                            %a{:href => '#'} Project  
                          %li 
                            %a{:href => '#' } From  
                          %li 
                            %a{:href => '#' } To
                          %li 
                            %a{:href => '#'} Related  
                          %li 
                            %a{:href => '#' } Site  
                          %li 
                            %a{:href => '#' } Attitude
                          %li 
                            %a{:href => '#'} Saw
                          %li 
                            %a{:href => '#' } Marked  
                          %li 
                            %a{:href => '#' } Order
                      .btn-group.pull-left#value
                        %a{:class => 'btn btn-default btn-sm dropdown-toggle', "data-toggle" => 'dropdown', :type=>"button", :href => '#'}
                          Value
                          %span{:class => 'caret'}
                        %ul{:class => 'dropdown-menu',:role=>"menu"}
                          %li 
                            %a{:href => '#'} iOS  
                          %li 
                            %a{:href => '#' } OS X  
                          %li 
                            %a{:href => '#' } iPhone
                          %li 
                            %a{:href => '#'} Mac
                      .input-group.input-group-sm{:style=>"width:250px;"}
                        %input.form-control{:type => "text"}/
                        %span.input-group-btn
                          %button.btn.btn-success{:type=>"button"} Add
                    .row
                      %strong#condition.pull-left Conditions:
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Project:
                        iOS
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Project:
                        iPhone
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong From:
                        Feb 10th
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong To:
                        Mar 7th
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Related:
                        True
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Site:
                        Yunyun.com
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Attitude:
                        Positive
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Saw:
                        False
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Marked:
                        False
                      .alert.alert-default.alert-dismissable.pull-left
                        %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                        %strong Order:
                        Latest
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1
                        / %span.label.label-warning.col-lg-1 filter1                  
                    / .clearfix#jive-alert
                    /   .jive-alert-type.jive-alert-announcement
                    /     .jive-alert-header
                    /       %h5.jive-alert-title
                    /         %a Keywords
                    /     .jive-alert-content
                    /       .jive-rendered-content
                    /         %span Apple
                / posts frame
                #jive-body-main
                  #jive-body-maincol-container
                    #jive-body-maincol
                      .jive-thread-messages
                        / page control
                        = render :partial => "sitewatch_pages/pagenav"
                        / posts
                        = render :partial => "sitewatch_pages/postsh"
                        / posts
                        = render :partial => "sitewatch_pages/postsh"
                        / posts
                        = render :partial => "sitewatch_pages/postsh"
                        / posts
                        = render :partial => "sitewatch_pages/postsh"
                        / page control
                        = render :partial => "sitewatch_pages/pagenav"
          /box frame style
          #box-bottom
            %span.left-b
            %span.right-b