/sitewatch view
.row#sitewatch-view
  / sitewatch header
  .col-lg-12#header
    .header-bot#header-bot
      .title#title
        %h1 Posts
      .search#search

  / big frame with breadcrumb
  .col-lg-12#container
    .jive-body
      /searchbox [done]
      .input-group.col-lg-4#sitewatch-searchbox
        = text_field_tag 'text', "#{params[:q]}", placeholder: @search_box_placeholder_text, class: "form-control input-md"
        %span.input-group-btn
          %button.btn.btn-success.btn-md#sitewatch-searchbtn{:type=>"button"} Go
      %canvas#canvas.pull-left{:width=>"1100",:height=>"100"}
      .box
        / breadcrumb [done]
        #guide
          #guide_pad
            #guide_wrap
              %ol#breadcrumb
                %li#bc-home
                  %strong
                    %a{:href=>"/"} Home
                -@breadcrumb_array.each do |name,isActive|
                  %li{:class=> isActive}
                    %strong
                      %a{:href=>"#"}
                        =name
        / content box
        #boxcap
          #box-in
            #box-in-1
              #jive-body
                / keywords [Todo: use ajax to control add function]
                #jive-body-intro
                  .jive-body-intro-community.jive-body-intro-content-page#jive-body-intro-content
                    .row#addfilterrow
                      %strong#addfilter.pull-left Add Filter:
                      .btn-group.pull-left#filter-condition
                        %a{:class => 'btn btn-default btn-sm dropdown-toggle', "data-toggle" => 'dropdown', :type=>"button"}
                          Condition
                          %span{:class => 'caret'}
                        %ul{:class => 'dropdown-menu',:role=>"menu"}
                          -@filter_list.each do |condition,value_list|
                            %li 
                              %a{:href=>"javascript:void(0)"}
                                = condition
                              = hidden_field_tag 'value_list', value_list
                      .btn-group.pull-left#filter-value
                        / [Todo: use js to control it show]
                        %a{:class => 'btn btn-default btn-sm dropdown-toggle', "data-toggle" => 'dropdown', :type=>"button"}
                          Choose
                          %span{:class => 'caret'}
                        %ul{:class =>'dropdown-menu',:role=>"menu"}
                        / %li 
                        /   %a{:href => '#'} iOS
                        / %li 
                        /   %a{:href => '#' } OS X  
                        / %li 
                        /   %a{:href => '#' } iPhone
                        / %li 
                        /   %a{:href => '#'} Mac
                      / [ignored add input frame]
                      / .input-group.input-group-sm{:style=>"width:250px;"}
                      /   %input.form-control{:type => "text"}/
                      /   %span.input-group-btn
                      /     %button.btn.btn-success{:type=>"button"} Add
                    / Conditions list [done]
                    .row
                      %strong#condition.pull-left Conditions:
                      -@conditions_list.each do |condition,value|
                        .alert.alert-default.alert-dismissable.pull-left
                          %button.close{:type=>"button",'data-dismiss'=>"alert",'aria-hidden'=>"true"} &times;
                          %strong 
                            =condition+ ":"
                          =value
                / posts frame
                #jive-body-main
                  #jive-body-maincol-container
                    #jive-body-maincol
                      .jive-thread-messages
                        / page control [Todo: pagenav]
                        = render :partial => "sitewatch_pages/pagenav"
                        / posts [done]
                        = render :partial => "posts/posts"
                        / page control
                        = render :partial => "sitewatch_pages/pagenav"
          /box frame style
          #box-bottom
            %span.left-b
            %span.right-b